.floats-container {
  height: 420px;
  width: 100%;
}

.floating-one {
  height: 300px;
  width: 300px;
  background-image: url('https://s25.postimg.cc/5c7y9cg9b/imageedit_1_3890977509.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #7fe6ef;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.floating-two {
  height: 175px;
  width: 175px;
  background-image: url('https://s25.postimg.cc/wzknnhyvz/designstockpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #FAA622;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 50%;
  position: relative;
  top: 15%;

  display: inline-block;
}

.floating-three {
  height: 230px;
  width: 230px;
  background-image: url('https://s25.postimg.cc/vkj2yjd5r/mikomajesticcrop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #c4d70c;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

/* .dialogue-box {
  position: fixed;
  height: 25%;
  width: 90%;
  bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  border: 2px solid white;
  background-color: #0f3f2e;
}

.character {
  position: fixed;
  bottom: 36%;
  right: 7%;
  height: 300px;
  width: 150px;
  background-color: #0f3f2e;
  border: 2px solid white;
}

.character-name {
  position: fixed;
  bottom: 33%;
  left: 6%;
  font-size: 25px;
} */
