.border {
  border: 2px solid #c22303;
  width: 300px;
  background-color: #ffe52c;
  margin-bottom: 1%;
}

.bar {
  height: 24px;
  width: 10%;
  background-color: #c4d70c;
}

.labels {
  text-align: left;
}

.border-hidden {
  border: 2px solid #c22303;
  width: 300px;
  background-color: "#ffe52c";
  visibility: hidden;
  margin-bottom: 1%;
}

.bar-hidden {
  height: 24px;
  width: 10%;
  background-color: #c4d70c;
  visibility: hidden;
}

.labels-hidden {
  text-align: left;
  visibility: hidden;
}

.col-holder {
  height: 560px;
  width: 100%;
  /* background-color: purple; */
}

.col-holder2 {
  height: 340px;
  width: 100%;
  /* background-color: pink; */
}

.first-col {
  height: 530px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: red; */
}

.second-col {
  height: 530px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: white; */
}

.third-col {
  height: 530px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: blue; */
}

.fourth-col {
  height: 530px;
  width: 30%;
  display: inline-block;
  margin: 1%;
}

.Historia {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://s25.postimg.cc/e0mts29vz/historia-tiny.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Miko-Adventures {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://i.postimg.cc/htP2DndQ/Screen_Shot_2018-09-05_at_2.29.38_PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Guidepost {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://i.postimg.cc/FsXwz1bT/Screen_Shot_2018-09-26_at_6.29.01_PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Atlas {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://i.postimg.cc/xdP1xWf2/Screen_Shot_2018-09-26_at_6.38.20_PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Historia:hover .historia-text {
  opacity: 1;
  visibility: visible;
}

.historia-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.historia-link {
  text-decoration: none;
}

.historia-link:visited {
  color: #fff;
}

.Miko-Adventures:hover .miko-adventures-text {
  opacity: 1;
  visibility: visible;
}

.miko-adventures-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.Guidepost:hover .guidepost-text {
  opacity: 1;
  visibility: visible;
}

.guidepost-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.Atlas:hover .atlas-text {
  opacity: 1;
  visibility: visible;
}

.atlas-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.atlas-link {
  text-decoration: none;
}

.atlas-link:visited {
  color: #fff;
}

.historia-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

.miko-adventures-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

.guidepost-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

.atlas-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

@media only screen and (max-width: 1000px) {
  .col-holder {
    height: 1600px;
  }

  .col-holder2 {
    height: 340px;
  }

  .first-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .second-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .third-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fourth-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
