.projects-header {
  font-size: 65px;
  text-shadow: 0 0 0px #c22303, 0 0 15px #ffe52c;
}

.border {
  border: 2px solid #c22303;
  width: 300px;
  background-color: #ffe52c;
  margin-bottom: 1%;
}

.bar {
  height: 24px;
  width: 10%;
  background-color: #c4d70c;
}

.labels {
  text-align: left;
}

.border-hidden {
  border: 2px solid #c22303;
  width: 300px;
  background-color: "#ffe52c";
  visibility: hidden;
  margin-bottom: 1%;
}

.bar-hidden {
  height: 24px;
  width: 10%;
  background-color: #c4d70c;
  visibility: hidden;
}

.labels-hidden {
  text-align: left;
  visibility: hidden;
}

.col-holder {
  height: 620px;
  width: 100%;
  /* background-color: pink; */
}

.col-holder2 {
  height: 340px;
  width: 100%;
  /* background-color: pink; */
}

.first-col {
  height: 600px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: red; */
}

.second-col {
  height: 600px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: white; */
}

.third-col {
  height: 600px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: blue; */
}

.fourth-col {
  height: 530px;
  width: 30%;
  display: inline-block;
  margin: 1%;
  /* background-color: green; */
}

.Historia {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://s25.postimg.cc/e0mts29vz/historia-tiny.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Go {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://i.postimg.cc/nhy2jkfC/Screen-Shot-2018-10-12-at-2-21-19-PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Atlas {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url('https://i.postimg.cc/xdP1xWf2/Screen_Shot_2018-09-26_at_6.38.20_PM.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1%;
}

.Historia:hover .historia-text {
  opacity: 1;
  visibility: visible;
}

.historia-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 5%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.historia-link {
  text-decoration: none;
  text-shadow: 0 0 0px #c22303, 0 0 15px #ffe52c;
}

.historia-link:visited {
  color: ##c22303;
}

.historia-link:hover {
  color: #c4d70c;
}

.Go:hover .go-text {
  opacity: 1;
  visibility: visible;
}

.go-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 5%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.go-link {
  text-decoration: none;
  text-shadow: 0 0 0px #c22303, 0 0 15px #ffe52c;
}

.go-link:visited {
  color: #c22303;
}

.go-link:hover {
  color: 	#c4d70c;
}

.Atlas:hover .atlas-text {
  opacity: 1;
  visibility: visible;
}

.atlas-text {
  margin: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 5%;
  font-size: 16px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.atlas-link {
  text-decoration: none;
}

.atlas-link:visited {
  color: #c22303;
}

.atlas-link:hover {
  color: 	#c4d70c;
}

.historia-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

.go-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

.atlas-stats-container {
  position: relative;
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1%;
}

@media only screen and (max-width: 1100px) {
  .projects-header {
    font-size: 62.5px;
  }
}

@media only screen and (max-width: 1000px) {
  .projects-header {
    font-size: 60px;
  }

  .col-holder {
    height: 1800px;
  }

  .col-holder2 {
    height: 340px;
  }

  .first-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .second-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .third-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fourth-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 950px) {
  .projects-header {
    font-size: 57.5px;
  }
}

@media only screen and (max-width: 850px) {
  .projects-header {
    font-size: 55px;
  }

  .first-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .second-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .third-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .fourth-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .projects-header {
    font-size: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .projects-header {
    font-size: 45px;
  }
}

@media only screen and (max-width: 650px) {
  .projects-header {
    font-size: 42.5px;
  }

  .first-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .second-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .third-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .fourth-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media only screen and (max-width: 550px) {
  .projects-header {
    font-size: 35px;
  }
}

@media only screen and (max-width: 520px) {
  .projects-header {
    font-size: 33px;
  }
}

@media only screen and (max-width: 450px) {
  .projects-header {
    font-size: 32px;
  }

  .first-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .second-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .third-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .fourth-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .projects-header {
    font-size: 30px;
  }
}
