.down-button-4 {
  position: relative;
  display: block;
}

.projects-container {
  height: 800px;
  width: 100%;
}

.historia-stats-container {
  position: relative;
  display: inline-block;
  left: 0%;
  height: 275px;
  width: 400px;
  margin-right: 3%;
}

.miko-adventures-stats-container {
  position: relative;
  display: inline-block;
  left: 0%;
  height: 275px;
  width: 400px;
}

.border {
  position: absolute;
  display: inline-block;
  left: 19%;
}

.labels {
  font-size:20px;
  display: inline-block;
  margin-left: 2%;
  display: inline-block;
  position: absolute;
  left: 0;
}

h1 {
  position: relative;
}

.Historia {
  position: relative;
  margin-top: 5%;
  display: inline-block;
  height: 300px;
  width: 400px;
  background-image: url('https://s25.postimg.cc/e0mts29vz/historia-tiny.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Historia:hover .historia-text {
  opacity: 1;
  visibility: visible;
}

.historia-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 20px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.Miko-Adventures:hover .miko-adventures-text {
  opacity: 1;
  visibility: visible;
}
.miko-adventures-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-weight: bold;
  padding-top: 20%;
  font-size: 20px;
  text-shadow: 0px 0px 10px #faa622;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.Miko-Adventures {
  position: relative;
  margin-top: 5%;
  margin-left: 3%;
  display: inline-block;
  height: 300px;
  width: 400px;
  background-image: url('https://s25.postimg.cc/zaag2usqn/Screen_Shot_2018-09-01_at_3.08.32_PM.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Miko-Adventures:hover {
  opacity: .5;
}
